* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    .w-70 {
        display: flex;
        align-items: center;
        width: 70%;
        height: 100px;
        margin: auto;
        img {
            height: 80px;
        }
        .links {
            flex-grow: 1;
        }
        .inline-list {
            display: flex;
            justify-content: space-between;
            li {
                display: inline-block;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}